# This manifest installs the Contiv etcd on the kubeadm master. 
# If using an external etcd instance, this can be deleted. This uses a DaemonSet
# to force it to run on the master even when the master isn't schedulable, and uses
# nodeSelector to ensure it only runs on the master.
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: contiv-etcd
  namespace: kube-system
  labels:
    k8s-app: contiv-etcd
spec:
  template:
    metadata:
      labels:
        k8s-app: contiv-etcd
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      # Only run this pod on the master.
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      nodeSelector:
        node-role.kubernetes.io/master: ""
      hostNetwork: true
      containers:
        - name: contiv-etcd
          image: gcr.io/google_containers/etcd-amd64:{{ contiv_etcd_version }} 
          args:
            - etcd
            - --name
            - contiv0
            - --data-dir
            - /var/etcd/contiv-data
            - --initial-advertise-peer-urls
            - http://{{ master }}:{{ contiv_etcd_advertise_port }} 
            - --listen-peer-urls
            - http://0.0.0.0:{{ contiv_etcd_advertise_port }}
            - --listen-client-urls
            - http://0.0.0.0:{{ contiv_etcd_listen_port }}
            - --advertise-client-urls
            - http://{{ master }}:{{ contiv_etcd_listen_port }}
            - --initial-cluster
            - contiv0=http://{{ master }}:{{ contiv_etcd_advertise_port }}
            - --initial-cluster-state
            - new  
          volumeMounts:
            - name: var-etcd
              mountPath: /var/etcd
      volumes:
        - name: var-etcd
          hostPath:
            path: /var/etcd
---
